* {
    font-family: 'Roboto', sans-serif;
}
.card {
	background-color: lightblue;
	height: 75px;
	width: 175px;
	display: inline-block;
	margin-right: auto;
	text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card:hover {
    background-color: #85B0BE;
}

.card > .fa-info-circle {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

.categories > .card {
	background-color: #0078CD;
	color: white;
	text-align: center;
    font-weight: bold;
}

.categories > .card:hover {
    background-color: #0050A5;
}

.questions .card {
    font-weight: bold;
    font-size: 25px;
}

.row {
	margin: 0 5rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    overflow: scroll;
}

#info-modal p {
    text-align: justify;
    margin: 0 8%;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    font-size: 23px;
    margin: 3%;
    padding: 15px;
    background-color: #86b8d6;
    border-color: #86b8d6;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.answered{
    pointer-events: none;
}

#clear {
    float: right;
    margin-right: 2rem;
    color: #aaaaaa;
}

#clear:hover {
    color: black;
}

#title {
    text-align: center;
    margin-top: 2rem;
}

#title > span {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #6FA5B6;
}

#score {
    text-align: center;
}

.q {
    font-size: 30px;
    color: #006bff;
}

.type {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    color: #006bff;
}

#ref-link {
    float: right;
    text-decoration: underline;
    color: lightblue;
    margin-right: 1rem;
}
#ref-link:hover {
    color: #6FA5B6;
}
